* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body { font-family: sans-serif;}

.rotating-nav {
    background-color: #333;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.rotating-nav .container {
    transition: transform .5s linear;
    background-color: #f3f3f3;
    padding-top: 50px;
    transform-origin: top left;
    min-height: 1330px;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.container .container-circle {
    position: fixed;
    left: -100px;
    top: -100px;
    z-index: 800;
}

.container .container-circle .circle {
    background-color: #ff7979;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform .3s ease;
}

.container.show-nav .container-circle .circle {
    transform: rotate(-70deg);
}

.container .container-circle .circle button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background-color: transparent;
    border: 0;
    outline: none;
    font-size: 1.35rem;
    color: #fff;
    cursor: pointer;
    z-index: 200;
}

.container .container-circle .circle button#open {
    left: 60%;
}

.container .container-circle .circle button#close {
    top: 60%;
    transform-origin: top left;
    transform: rotate(90deg);
}

.container .content {
    max-width: 1000px;
    margin: 50px auto;
}

.container .content h1 {
    margin: 1rem 0;
}
.container .content small {
    font-weight: bold;
    font-style: italic;
}
.container .content p {
    color: #555;
    line-height: 1.6;
    margin: 1rem 0;
}

nav {
    position: absolute;
    bottom: 40px;
    left: 0;
}

nav ul {
    padding-left: 3rem;
    list-style-type: none;
    width: 200px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
    margin-left: .5rem;
    transition: all .3s ease-in-out;
}

nav ul li:hover a {
    color: #ff7979;
    font-weight: bold;
}

nav ul li {
    margin-top: 15px;
    transition: transform  .3s ease-in-out;
    transform: translateX(-100%);
}


nav ul li:nth-of-type(2) {
    margin-left: 15px;
    transform: translateX(-150%);
}
nav ul li:nth-of-type(3) {
    margin-left: 30px;
    transform: translateX(-200%);
}
nav ul li:nth-of-type(4) {
    margin-left: 45px;
    transform: translateX(-250%);
}

nav.show-nav ul li {
    transform: translateX(0%);
    transition-delay: .3s;
}

nav ul li i {
    color: #fff;
    
}

/* ================================== Start  myprog ==============================*/
.my-prog {
    background-color: #8bf;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.my-prog .container-prog {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    z-index: 2;
}
.my-prog .container-prog .prog-circle {
    background-color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #d1d1d1;
    transition: border .3s linear;
}

.my-prog .container-prog .prog {
    position: absolute;
    background-color: rgb(18, 145, 196);
    height: 3px;
    width: 0%;
    z-index: -1;
    transition: width .3s linear;
}

.my-prog .container-prog::before {
    position: absolute;
    content: '';
    left: 0px;
    top: 16px;
    background-color: #d1d1d1;
    width: 99%;
    height: 3px;
    z-index: -2;
}

.my-prog .container-prog .prog-circle.color {
    border-color: rgb(18, 145, 196);
}

.my-prog .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-top: 2rem;
    column-gap: 2rem;
}

.my-prog .btns > button {
    padding: .55rem .85rem;
    text-transform: capitalize;
    font-size: 15.5px;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fff;
    transition: transform .3s ease;
}

.my-prog .btns > button:active {
    transform: scale(1.1);
}
.my-prog .btns > button:focus {
    outline: none;

}

.my-prog .btns > button:disabled {
    background-color: #d1d1d1;
    cursor: not-allowed;
}

/* ====================== Start Search =================================== */
section.animation-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    overflow: hidden;
}

.animation-icon .searsh {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
}

.animation-icon #search-input {
    width: 50px;
    height: 50px;
    outline: none;
    transition: width .3s ease;
    font-size: 18px;
    padding: 1rem;
}

.animation-icon #search-input::placeholder {
    opacity: .8;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 13px;
    transition: opacity .3s linear;
}

.animation-icon #search-input:focus::placeholder { opacity: 0; transition-delay: .1s;}

.animation-icon.animate #search-input {
    width: 200px;
}

.animation-icon .searsh button#search-btn {
    cursor: pointer;
    outline: none;
    color: #333;
    position: absolute;
    left: 0;
    transition: transform .3s linear;
    width: 50px;
    height: 50px;
}

.animation-icon.animate .searsh button#search-btn {
    transform: translateX(198px);
}

.animation-icon .searsh button#search-btn:focus {
    outline: none;
}

/*=================== For Animation Scroll ===========================================  */
.conainer-box {
    background-color: #d1d1d1;
    padding: 3rem 0;
    overflow: hidden;
    width: 100%;
}
.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 34vw;
    margin: 10px auto;
    background-color: steelblue;
    color: #fff;
    box-shadow: 2px 4px 5px rgb(0 0 0 / .3);
    border-radius: .5rem;
    transform: translateX(200%);
    transition: transform .4s linear;
}

.boxes:nth-of-type(even) {
    transform: translateX(-200%);
}

.boxes.scroll-animate {
    transform: translateX(0%);
}

